<%- include('header') %>

<table class="table">
  <h2>Job Role List</h2>
  <br />
  <thead>
    <tr>
      <th>Empoyee name</th>
      <th>pay status</th>
      <th>Date</th>

      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>jjsjsjssjsjsjsjs</td>
    

      <td>
       
      </td>
    </tr>
  
  </tbody>
</table>

<%- include('footer') %>
